bucket         = "fintechbankx-terraform-state-dev"
key            = "open-finance/payee-verification-service/terraform.tfstate"
region         = "me-central-1"
dynamodb_table = "fintechbankx-terraform-locks"
encrypt        = true
